/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



.mr{
    margin-right: 5em;
}

.ml{
    display: inline-block;
}
@media only screen and (max-width:768px){
    .mr{
        margin-right: 0em !important;
    } 
    .ml{
        display: none;
    }
}